body {
  margin: 0;
  background: #000; 
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}



#polina button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  -webkit-transition: .3s background;
  transition: .3s background;
}
#polina button:hover { 
   background: rgba(0,0,0,0.5);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  -webkit-transition: .6s background;
  transition: .6s background; 
}
a:hover{
  background:rgba(0,0,0,0.9);
}
@media screen and (max-width: 500px) { 
  div{width:70%;} 
}





h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
  font-family: sans-serif;
  color:white;
  text-align: center;
  position: absolute;
  bottom: 10%;
  left:0;
  right:0;
}

p {
  font-family: sans-serif;
  font-size: 3em;
}

.one {
  color: red;
  position: absolute;
  top: 6%;
  right: 10%;
}

.two {
  color: #e67e22;
  position: absolute;
  top: 5%;
  left: 6%;
}

.three {
  color: blue;
  position: absolute;
  top: 35%;
  left: 10%;
}

.four {
  color: yellow;
  position: absolute;
  top: 30%;
  right: 30%;
}

.five {
  color: purple;
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.six {
  color: green;
  position: absolute;
  bottom: 25%;
  right: 13%;
}

@media (max-width: 981px) {
  .mobile {
    display:none;
  }

  video {
    left:95%;
  }
}

